* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

nav {
  background: #b8a9bd;
  height: 80px;
  width: 100%;
}

label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding-top: 20px;
  padding-left: 30px;
  font-weight: bold;
  width: 20%;
  margin: 0;
}

.nav-whole {
  margin-top: -80px;
}

.nav-all {
  margin: 0;
  padding-left: 60px;
}

nav ul {
  float: right;
  margin-right: 100px;
  margin-top: -70px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin-left: 70px;
  margin-top: 70px;
  padding: 0;
}

nav ul li a {
  color: #ffffff;
  font-size: 16px;
  border-radius: 3px;
  text-transform: uppercase;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

section {
  background: url(joe.jpg) no-repeat;
  background-size: cover;
  height: calc(100vh - 80px);
}

.logo-sign {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding-top: 30px;
  padding-left: 30px;
  font-weight: bold;
  width: 20%;
  margin: 0;
}

.nav {
  margin-top: -90px;
}

.navItem {
  margin: 0;
  padding-left: 40px;
}

.home {
  background-color: #b8a9bd;
  height: 700px;
  width: 100%;
}

.homeBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background: transparent;
  left: 0px;
  margin-top: 20%;
}

.circle {
  list-style-type: none;
}

.img {
  border-radius: 50%;
  margin: 0px;
}

h3 {
  color: black;
  text-align: left;
  padding-left: 50px;
  padding-top: 5%;
  font-size: 1em;
}

h2 {
  color: black;
  text-align: center;
  padding-top: 80px;
  font-size: 3em;
  margin: 0px;
}

body {
  background: #b8a9bd;
}

@media (max-width: 1204px) {
  .homeBox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    background: transparent;
    left: 0px;
    margin: 0;
    padding-top: 30%;
    padding-left: 20%;
  }

  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }

  nav ul li a {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .homeBox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    background: transparent;
    left: 0px;
    margin-top: 20%;
    padding-left: 0;
  }

  h3 {
    padding-left: 150px;
  }

  .checkbtn {
    display: block;
  }

  nav {
    position: relative;
  }

  .nav {
    position: fixed;
    top: 100px;
    left: -100%;
    width: 50%;
    background: #b8a9bd;
  }

  ul {
    position: fixed;
    width: 50%;
    height: 100vh;
    background: #b8a9bd;
    top: 5px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    z-index: 1;
  }

  nav ul {
    float: right;
    margin-right: 20px;
    margin-top: 70px;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
  }

  a:hover,
a.active {
    background: none;
    color: #0082e6;
  }

  #check:checked ~ ul {
    left: 0;
  }

  .footer .social {
    position: static;
    left: 0;
    height: 30px;
    background: black;
  }
}
@media (max-width: 375px) {
  .homeBox {
    display: block;
    margin-top: 200px;
    padding-left: 0;
  }

  .homeBox li {
    padding-bottom: 100px;
    padding-left: 0;
  }
}
.footer {
  width: 100%;
  background-color: black;
  margin: 0px;
}

.social {
  flex-direction: row;
  display: flex;
  padding: 5%;
}

ul {
  justify-content: center;
  list-style-type: none;
}

li {
  color: #b8a9bd;
  font-size: 1.8em;
  padding-left: 20px;
}

p {
  color: #b8a9bd;
  font-size: 0.9em;
  padding: 30px;
  margin: 0;
  background: black;
}

.slider {
  width: 100%;
  border: 20px slide #b8a9bd;
  margin-top: 0px auto;
  background: black;
  padding: 10%;
  position: relative;
  overflow: hidden;
}

.slider .left-slide,
.slider .right-slide {
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: #b8a9bd;
  border-radius: 50%;
  color: ffffff;
  font-size: 30px;
  top: 65%;
  margin-top: -20px;
  text-align: center;
  line-height: 35px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.slider .left-slide:hover,
.slider .right-slide:hover {
  background-color: #fddff8;
  box-shadow: 0px 0px 10px black;
}

.slider .left-slide {
  left: 30px;
}

.slider .right-slide {
  right: 30px;
}

.slider .slider-items .item img {
  width: 100%;
  display: block;
  animation: zoom 1s ease;
}

@keyframes zoom {
  0% {
    transform: scale(2);
    opacity: 0;
  }
  50% {
    transform: scale(2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.slider .slider-items .item {
  display: none;
  position: relative;
}

.slider .slider-items .item .caption {
  position: absolute;
  width: 100%;
  height: 60px;
  bottom: 0px;
  left: 0px;
  text-align: center;
  color: white;
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0.5);
}

.slider .slider-items .item.active {
  display: block;
}

h1 {
  color: white;
}

p {
  color: white;
}

#app {
  width: 100%;
  background-color: #b8a9bd;
}

.video {
  width: 100%;
}

.slider-kids {
  width: 100%;
  border: 20px slide #b8a9bd;
  margin-top: 0px auto;
  background: black;
  padding: 8%;
  position: relative;
  overflow: hidden;
}

.slider-kids .left-slide,
.slider-kids .right-slide {
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: #b8a9bd;
  border-radius: 50%;
  color: ffffff;
  font-size: 30px;
  top: 65%;
  margin-top: -10px;
  text-align: center;
  line-height: 35px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.slider-kids .left-slide:hover,
.slider .right-slide:hover {
  background-color: #fddff8;
  box-shadow: 0px 0px 10px black;
}

.slider-kids .left-slide {
  left: 30px;
}

.slider-kids .right-slide {
  right: 30px;
}

.slider-kids .slider-items .item img {
  max-width: 100%;
  display: block;
  animation: zoom 1s ease;
}

@keyframes zoom {
  0% {
    transform: scale(2);
    opacity: 0;
  }
  50% {
    transform: scale(2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.slider-kids .slider-items .item {
  display: none;
  position: relative;
}

.slider-kids .slider-items .item .caption {
  position: absolute;
  width: 100%;
  height: 60px;
  bottom: 0px;
  left: 0px;
  text-align: center;
  color: white;
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0.5);
}

.slider-kids .slider-items .item.active {
  display: block;
}

.mainKids {
  width: 100%;
  height: 500px;
  background-color: #89ebee;
}

h1 {
  color: white;
  padding-top: 0;
}

p {
  color: white;
}

.sign {
  width: 100%;
  text-align: center;
  padding-top: 100px;
}

label {
  display: block;
  margin: 1.5em 0 0.3em;
  padding-left: 0.4em;
}
label:first-of-type {
  margin-top: 0;
}

.mail-header {
  padding-top: 40px;
  padding-bottom: 90px;
}

input[type=text],
input[type=email],
textarea {
  padding: 0.6em;
  color: #333;
  border-radius: 4px;
  width: 250px;
}

textarea {
  resize: none;
  display: block;
}

.submit-wrapper {
  display: inline-block;
  margin-top: 2em;
  margin-bottom: 4em;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  background-color: #080808;
  cursor: pointer;
  font-size: 1.2em;
  color: white;
}
.submit-wrapper:hover {
  background-color: #5588c8;
}
.submit-wrapper span {
  padding-right: 0.5em;
}

#message {
  margin: 0 auto;
  display: block;
}

.goal {
  height: 90px;
}

/*# sourceMappingURL=master.css.map */
