.footer {
  width: 100%;
  background-color: black;
  margin: 0px;
  //position: absolute;
}
.social {
  flex-direction: row;
  display: flex;
  padding: 5%;
}
ul {
  justify-content: center;
  list-style-type: none;
}

li {
  color: #b8a9bd;
  font-size: 1.8em;
  padding-left: 20px;
}
p {
  color: #b8a9bd;
  font-size: 0.9em;
  padding: 30px;
  margin: 0;
  background: black;
}
